absl-py==2.3.0
addict==2.4.0
aiodns==3.1.1
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.9.4
aiohttp-cors==0.7.0
aioitertools==0.11.0
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.6.2.post1
argcomplete==3.6.2
asteval==0.9.32
asttokens==3.0.0
async-timeout==4.0.3
attrs==23.2.0
azure-core==1.28.0
azure-identity==1.13.0
azure-storage-blob==12.17.0
blinker==1.9.0
cachetools==5.5.2
cchardet==2.1.7
certifi==2024.8.30
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.1.1
codespell==2.4.1
coloredlogs==15.0.1
colorful==0.5.6
colorlog==6.9.0
comm==0.2.2
ConfigArgParse==1.7
construct==2.10.68
contourpy==1.3.0
coverage==7.4.4
cryptography==42.0.0
cycler==0.11.0
dash==3.0.4
decorator==5.2.1
diffusers==0.33.1
distlib==0.3.9
distro==1.9.0
einops==0.8.1
exceptiongroup==1.2.2
executing==2.2.0
expandvars==1.0.0
Farama-Notifications==0.0.4
fastapi==0.110.0
faster-fifo==1.5.2
fastjsonschema==2.21.1
filelock==3.15.4
flake8==7.2.0
Flask==3.0.3
flatbuffers==25.2.10
fonttools==4.58.0
frozenlist==1.4.1
fsspec==2024.10.0
ftfy==6.3.1
gitdb==4.0.12
GitPython==3.1.44
google-api-core==2.24.2
google-auth==2.39.0
googleapis-common-protos==1.70.0
# grpcio==1.72.1
# -e git+https://gitlab.pjlab.org.cn/EmbodiedAI/SimPlatform/GRUtopia.git@e91525cf74c2bfb6856df6c3933764aa4abe0089#egg=grutopia
gunicorn==22.0.0
gym==0.26.2
gym-notices==0.0.8
gymnasium==0.29.1
h11==0.14.0
hf-xet==1.1.3
httpcore==1.0.8
httptools==0.6.1
httpx==0.25.2
huggingface-hub==0.27.0
humanfriendly==10.0
identify==2.6.10
idna==3.6
idna-ssl==1.1.0
imageio==2.22.2
importlib_metadata==8.6.1
iniconfig==2.1.0
inputs==0.5
ipython==8.18.0
ipywidgets==8.1.7
isodate==0.6.1
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.5.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_core==5.7.2
jupyterlab_widgets==3.0.15
kiwisolver==1.4.4
lcm==1.5.0
llvmlite==0.42.0
lmdb==1.6.2
lxml==5.3.0
Markdown==3.8
MarkupSafe==3.0.2
matplotlib==3.8.4
matplotlib-inline==0.1.7
mccabe==0.7.0
mpmath==1.3.0
msal==1.23.0
msal-extensions==1.0.0
msgpack==1.1.0
msgpack-numpy==0.4.8
multidict==6.0.5
nbformat==5.10.4
nest-asyncio==1.5.6
networkx==3.2.1
nodeenv==1.9.1
numba==0.59.1
numpy==1.26.0
numpy-quaternion==2023.0.3
oauthlib==3.2.2
onnx==1.17.0
onnxruntime==1.19.2
open3d==0.19.0
openai==1.29.0
opencensus==0.11.4
opencensus-context==0.1.3
opencv-python==4.11.0.86
opencv-python-headless==4.9.0.80
osqp==0.6.5
packaging==23.0
pandas==2.2.3
params_proto==2.13.2
parso==0.8.4
pexpect==4.9.0
pillow==11.0.0
Pint==0.20.1
platformdirs==4.3.8
plotly==5.3.1
pluggy==1.6.0
portalocker==2.7.0
pre_commit==4.2.0
prometheus_client==0.21.1
prompt_toolkit==3.0.50
propcache==0.3.1
proto-plus==1.26.1
protobuf==6.31.1
psutil==5.9.8
ptyprocess==0.7.0
pure_eval==0.2.3
py-spy==0.4.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycares==4.3.0
pycodestyle==2.13.0
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
pyflakes==3.3.2
pyglet==2.1.6
Pygments==2.19.1
pyparsing==3.0.9
pyperclip==1.8.0
pypng==0.20220715.0
pyquaternion==0.9.9
pytest==8.3.5
python-dateutil==2.9.0.post0
python-multipart==0.0.9
pytz==2024.1
PyYAML==6.0.1
qdldl==0.1.7.post1
qrcode==7.4.2
ray==2.44.1
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-oauthlib==1.3.1
retrying==1.3.4
rpds-py==0.24.0
rsa==4.9
rsl-rl-lib==2.2.1
s3transfer==0.6.1
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.11.1
selenium==4.14.0
sentry-sdk==2.0.0
setproctitle==1.3.6
setuptools-scm==8.0.4
signal-slot-mp==1.0.5
six==1.16.0
smart-open==7.1.0
smmap==5.0.2
sniffio==1.3.1
stack-data==0.6.3
starlette==0.36.3
sympy==1.13.1
tenacity==9.1.2
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
termcolor==3.0.1
threadpoolctl==3.6.0
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.26.1
triton==3.1.0
typing-inspection==0.4.1
typing_extensions==4.12.0
tzdata==2025.2
urllib3==2.2.3
uvicorn==0.29.0
virtualenv==20.30.0
vuer==0.0.32rc7
wandb==0.20.0
watchdog==4.0.0
waterbear==2.6.8
wcwidth==0.2.13
webbot==0.34
websockets==12.0
Werkzeug==3.0.3
widgetsnbextension==4.0.14
wrapt==1.16.0
yacs==0.1.8
yarl==1.9.4
zipp==3.21.0
