absl-py==2.3.0
accelerate==1.4.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
attr==0.3.2
attrs==25.3.0
av==14.4.0
braceexpand==0.1.7
cachetools==5.5.2
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.1.8
cloudpickle==3.1.1
contourpy==1.3.0
cycler==0.12.1
decorator==5.2.1
deepspeed==0.16.4
depth-camera-filtering @ git+https://github.com/naokiyokoyama/depth_camera_filtering.git
einops==0.8.1
faster-fifo==1.5.2
filelock==3.13.1
flash_attn==2.7.4.post1
fonttools==4.58.2
fsspec==2024.6.1
gitdb==4.0.12
GitPython==3.1.44
google-auth==2.40.3
google-auth-oauthlib==0.4.6
grpcio==1.72.1
gym==0.23.0
gym-notices==0.0.8
hf-xet==1.1.3
hjson==3.1.0
huggingface-hub==0.32.4
hydra-core==1.3.2
idna==3.10
ifcfg==0.24
imageio==2.37.0
imageio-ffmpeg==0.6.0
importlib_metadata==8.7.0
importlib_resources==6.5.2
Jinja2==3.1.4
kiwisolver==1.4.7
llvmlite==0.43.0
lmdb==1.6.2
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.4
mdurl==0.1.2
moviepy==2.2.1
mpmath==1.3.0
msgpack==1.1.0
networkx==3.2.1
ninja==1.11.1.4
numba==0.60.0
numpy==1.26.3
numpy-quaternion==2023.0.4
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.6.2
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
oauthlib==3.2.2
objectio==0.2.29
omegaconf==2.3.0
opencv-python==4.11.0.86
packaging==25.0
pillow==11.0.0
proglog==0.1.12
protobuf==3.20.1
psutil==7.0.0
py-cpuinfo==9.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydantic==2.11.5
pydantic_core==2.33.2
Pygments==2.19.1
pyparsing==3.2.3
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
PyYAML==6.0.2
qwen-vl-utils==0.0.11
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
rich==14.0.0
rsa==4.9.1
safetensors==0.5.3
scipy==1.13.1
shellingham==1.5.4
simplejson==3.20.1
six==1.17.0
smmap==5.0.2
sympy==1.13.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
threadpoolctl==3.6.0
tokenizers==0.21.1
torch==2.6.0+cu124
torchaudio==2.6.0+cu124
TorchCodec==0.2.0
torchvision==0.21.0+cu124
tqdm==4.67.1
transformers==4.51.0
triton==3.2.0
typer==0.16.0
typing-inspection==0.4.1
typing_extensions==4.12.2
urllib3==2.4.0
webdataset==0.1.40
Werkzeug==3.1.3
zipp==3.23.0
datasets==3.6.0
mmengine==0.10.7
trl==0.19.0
wandb==0.21.0